/*

    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM       .        .         .   .IMN7      ~NM8+          
    MMMMM       .,$MMMMM   MMMMM       MMMM   MMMMM.7MMMMMMMN.,MMMMMMMM=        
    MMMMM  .:DMMMMMMMMMM   MMMMM       MMMM   MMMMMMMMMMMMMMMDMMMMMMMMMM        
    MMMMMMMMMMMMMMMMMMMM   MMMMM       MMMM   MMMMMMI.  7MMMMMM   .MMMMM        
    MMMMMMMMMMMM?  MMMMM   MMMMM       MMMM   MMMMM      MMMMM     .MMMM        
    MMMMMMD+       MMMMM   MMMMM       MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM       MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM.      MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM.     MMMMM   MMMMM      MMMMM      MMMM        
  . MMMMM       MMMMMMMM   7MMMMMMMMMMMMMMM   MMMMM      MMMMM      MMMM   DMMM7
 .NMMMMMM    ..MMMMMMMMI    DMMMMMMMMM MMMM   MMMMM      MMMMM      MMMM  .MMMMI
OMMMMMMMM      MMMMMMMM      .MMMMMD  .MMMM   MMMMM      MMMMM      MMMM   ,MD. 
MMMMMMMM+      .MMMMZ                  .   .  .          .                 . .. 
MMMMMMO  .                                                                      
.$M8+.

*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

html {
	-webkit-font-smoothing: antialiased;
	-webkit-hyphens: auto;
}

body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(50, 50, 50) url("../img/background.jpg") 50% 0% no-repeat fixed;
    background-size: cover;
    font-size: 16px;
    -webkit-text-size-adjust: none;
	color: #fff;
	text-align: center;
}

a {
    color: rgb(117, 223, 229);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

h1 {
    background: url("../img/logo_small.png");
    background-size: 100%;
    height: 0;
    padding: 70px 0 0 0;
    margin: 8.841155157258324% auto 0;
    width: 184px;
    overflow: hidden;
}

h2 {
    color: rgb(233, 233, 233);
    font-size: 50px;
    font-weight: 100;
    line-height: 58px;
    height: auto;
    margin: 12px auto 0;
    text-align: center;
    width: auto;
    text-rendering: optimizeLegibility;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

p {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    margin: 5.606243166177133% auto 0;
    width: 50%;
    line-height: 1.3em;
}

.btn {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2f2f2f;
    text-decoration: none;
	height: 70px;
	border-radius: 4px;
	background: rgb(117, 223, 229);
	border: none;
	font-size: 12px;
	font-weight: 900;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 0;
	text-rendering: optimizeLegibility;
}

.btn {
    display: inline-block;
    line-height: 70px;
    padding: 0 35px;
    text-shadow: none;
}

.btn:hover, .btn:focus {
    background: rgb(137, 228, 233);
    text-decoration: none;
}

.btn:active {
    margin-top: 1px;
}

@media only screen and (max-width: 628px) {
	p {
    	width: 90%;
	}
	
	h2 {
		font-size: 40px;
		line-height: 38px;
	}
}

@media only screen and (max-width: 431px) {
	#container {
    	width: 100%;
	}
}

::selection {
	background: rgb(117, 223, 229);
    color: #000;
    text-shadow: none;
}

::-moz-selection {
	background: rgb(117, 223, 229);
    color: #000;
    text-shadow: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    h1 { background-image: url("../img/logo_small@2x.png"); }

}

/* Transitions */

h2 {
	-webkit-transition: font-size .4s ease;
    -moz-transition: font-size .4s ease;
    -o-transition: font-size .4s ease;
    transition: font-size .4s ease;
}