/*

    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM                                                        
    MMMMM          MMMMM       .        .         .   .IMN7      ~NM8+          
    MMMMM       .,$MMMMM   MMMMM       MMMM   MMMMM.7MMMMMMMN.,MMMMMMMM=        
    MMMMM  .:DMMMMMMMMMM   MMMMM       MMMM   MMMMMMMMMMMMMMMDMMMMMMMMMM        
    MMMMMMMMMMMMMMMMMMMM   MMMMM       MMMM   MMMMMMI.  7MMMMMM   .MMMMM        
    MMMMMMMMMMMM?  MMMMM   MMMMM       MMMM   MMMMM      MMMMM     .MMMM        
    MMMMMMD+       MMMMM   MMMMM       MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM       MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM.      MMMM   MMMMM      MMMMM      MMMM        
    MMMMM          MMMMM   MMMMM.     MMMMM   MMMMM      MMMMM      MMMM        
  . MMMMM       MMMMMMMM   7MMMMMMMMMMMMMMM   MMMMM      MMMMM      MMMM   DMMM7
 .NMMMMMM    ..MMMMMMMMI    DMMMMMMMMM MMMM   MMMMM      MMMMM      MMMM  .MMMMI
OMMMMMMMM      MMMMMMMM      .MMMMMD  .MMMM   MMMMM      MMMMM      MMMM   ,MD. 
MMMMMMMM+      .MMMMZ                  .   .  .          .                 . .. 
MMMMMMO  .                                                                      
.$M8+.


Theme Name: Hum
Description: A custom theme for Hum.
Author: Aaron Shekey
Author URI: http://justhum.com
Version: 1.0
*/