/* Normalize */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,h1,h2,h3,h4,h5,h6{line-height:1em}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}


/* General Styling -------------------------------------------------- */

body {
	background: #f0eeed;
	font-size: 16px;
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5em;
	color: #656565;
	text-align: center;
	min-width: 320px;
}

@media only screen and (max-width: 32em) {
    body {
        font-size: 12px;
    }
}

img {
    vertical-align: middle;
    -webkit-user-drag: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

h2 {
    width: 90%;
	font-size: 2.25em;
	font-weight: 300;
	margin: 0 auto 2em;
	letter-spacing: -2px;
}

h3 {
	width: 90%;
	max-width: 525px;
	margin: 0 auto 2em;
	font-size: 1.75em;
	font-weight: 300;
	line-height: 1.25em;
	letter-spacing: -1px;
}

h4 {
	color: #656565;
	font-size: 1.5em;
	margin-bottom: 1em;
	letter-spacing: -1px;
}


/* Main Container ----------------------------------------------- */

.container {
    height: 100%;
    width: 100%;
    position: relative;
}


/* Hero -------------------------------------------------------- */

.hero {
	width: 50%;
    position: fixed;
    height: 100%;
    float: none;
    background-color: #323232;
	color: #e9e9e9;
	text-align: center;	
}

.hero .wrapper {
    position: absolute;
    max-width: 400px;
    width: 100%;
    height: 234px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -117px;
}

a.appstore_btn {
    display: inline-block;
    padding: 1em 1em .9em 3.6em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #4da99d url("../img/apple_small.png") no-repeat 1em center;
    background-size: 21px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.appstore_btn:hover {
	text-decoration: none;
	background-color: #5cb8ac;
}

.navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5em;
}

@media only screen and (max-width: 67em) {   
    .hero {
        width: 100%;
        position: relative;
        height: auto;
        padding: 5em 0;
    }
    
    .hero .wrapper {
        position: static;
        margin: 0 auto;
    }
    
    .navigation {
        position: static;
        margin-top: 8em;
    }
}

.navigation li {
    display: inline-block;
	margin: 0 1.5em;
}

@media only screen and (max-width: 32em) {
    .navigation {
        display: none;
    }
}

.navigation a {
	color: #969696;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.navigation a:hover {
	color: #4da99d;
	border-bottom: solid 2px #4da99d;
}

.hero h2 {
	margin-bottom: 84px;
}

h1.logo {
	margin: 0 auto 10px;
	width: 186px;
	height: 0;
	padding-top: 71px;
	overflow: hidden;
	background: url("../img/hum.png") no-repeat;
	background-size: 100%;
}


/* Main Content ---------------------------------------- */

.content {
    width: 50%;
    margin-left: 50%;
    z-index: 1;
    position: relative;
}

@media only screen and (max-width: 67em) {
    .content {
        width: 100%;
        margin-left: 0;
    }
}

.section {
	padding: 5em 0;
}

.combine,
.attach,
.dropbox,
.reviews {
	background: #4da99d;
	color: #fefefe;
}

.combine,
.attach {
    padding-bottom: 0;
    overflow: hidden;
}

.combine img,
.attach img,
.dropbox img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .3);
}

.dropbox img {
    border-radius: 6px;
}

@media only screen and (max-width: 21em) {
    .combine img,
    .attach img,
    .dropbox img {
        border-radius: 0;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, .2);
    }
}

.review h3 {
    margin-bottom: .6em;
}

.review {
    margin-bottom: 4em;
}

.review.last {
    margin-bottom: 0;
}

.features {
	color: #878787;
	font-weight: 300;
	overflow: hidden;
	padding-bottom: 0;
}

.features img {
	margin-bottom: .8em;
}

.features .wrapper {
    margin: 0 auto;
    width: 40em;
    overflow: hidden;
}

.feature {
	max-width: 17em;
	margin-bottom: 8em;
	float: left;
}

.feature.first {
    clear: both;
    margin-right: 6em;
}

@media only screen and (max-width: 93em) {
    .features .wrapper {
        width: 36em;
    }
    
    .feature.first {
        margin-right: 2em;
    }
}

@media
only screen and (max-width: 81em) and (min-width: 67em),
only screen and (max-width: 39em) {
    
    .features .wrapper {
        width: 100%;
    }
    
    .feature {
        float: none;
        width: 250px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6em;
    }
    
    .feature.first {
        clear: none;
        margin-right: auto;
    }
}


/* Footer -------------------------------------------------------- */


.footer {
    padding-bottom: 2em;
}

.footer .social {
    margin-top: 3em;
	margin-bottom: 1em;
}

.footer .social li {
	display: inline-block;
	margin: 0 3px;
}

.footer .social a {
	display: block;
	width: 26px;
	height: 0;
	padding-top: 26px;
	overflow: hidden;
}

.footer .social a.twitter-btn {
	background: url("../img/twitter-btn.png") no-repeat;
	background-size: 100%;
}

.footer .social a.twitter-btn:hover {
	background-position: 0 -26px;
}

.credit {
	font-size: .6875em;
	line-height: 1.3em;
}

form {
	width: 80%;
	margin: 0 auto 1em;
	overflow: hidden;
	max-width: 450px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    box-sizing: border-box;
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	height: 55px;
	width: 67.3610295777828%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgb(245, 245, 245);
	color: rgb(100, 100, 100);
	padding: 0 0 0 2%;
	font-size: 1.25em;
	border: 2px solid rgb(200, 200, 200);
}

input:focus {
    border: 2px solid rgba(114, 114, 114, 1);
    color: rgb(20,20,20);
    outline: none;
}

input::-webkit-input-placeholder {
   color: rgb(163,163,163);
}

input:-moz-placeholder {
   color: rgb(163, 163, 163);
}

input::-moz-placeholder {
   color: rgb(163, 163, 163);
}

input.error {
	color: #ff5d00;
	border: 2px solid #ff5d00;
}

button {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	height: 55px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #4da99d;
	border: none;
	padding: 0;
	font-size: .75em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	float: left;
	width: 28.662000451569202%;
	margin: 0 0 0 1.9291036351320838%;
}

button:hover, button:focus {
    background: #5cb8ac;
    text-decoration: none;
    outline: none;
    border: none;
}

button:active {
	padding: 0;
}

label {
	font-size: .75em;
	margin-top: 1.16em;
	display: inline-block;
	line-height: 1.33em;
	width: 60%;
}

@media only screen and (max-width: 21em) {
    label {
        font-size: 1.2em;
    }
}

label a {
	color: #4da99d;
}

.partner {
    visibility: hidden;
}

@media only screen and (max-width: 32em) {
    input,
    button {
    	clear: both;
	    float: none;
	    width: 100%;
	    margin: 0 0 3px;
    }
}

.shirt-btn {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #4da99d;
    font-size: .75em;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@media only screen and (max-width: 32em) {
    .shirt-btn {
        padding: 2em;
    }
}

.shirt-btn:hover {
    text-decoration: none;
    background: #5cb8ac;
}

/*
@media only screen and (min-width: 755px) {
	.features .wrapper {
		max-width: none;
		width: 740px;
	}
	
	.feature {
		float: left;
		margin: 0 60px 130px;
	}
	
	.feature.notes {
		margin-top: 62px;
	}
	
	.feature.sharing,
	.feature.sorting {
    	clear: both;
	}
}

@media only screen and (min-width: 1125px) {
	.features .wrapper {
		max-width: none;
		width: 1110px;
	}

	.feature {
		float: left;
		margin: 0 60px 130px;
	}
	
	.feature.sharing,
	.feature.sorting {
    	clear: none;
	}
	
	.feature.printing {
    	clear: both;
	}
}


@media only screen and (max-width: 800px) {
	.name {
		margin-top: 0;
		margin-bottom: 100px;
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 615px) {
	.far-left {
		left: 25%;
	}
	.far-right {
		right: 25%;
	}
	
	.near-left {
		left: 0;
	}
	
	.near-right {
		right: 0;
	}
    
    .section {
		padding: 90px 0;
	}
	
	.feature.searching {
		margin-bottom: 0;
	}
	
	.hero h2 {
		margin-bottom: 54px;
	}
	
	.navigation li {
		margin: 0 .75em;
	}
	
	.play-btn {
		display: block;
		margin: 20px auto 0;
	}
}

@media only screen and (max-width: 460px) {
	.near-left {
		left: 25%;
	}
	.near-right {
		right: 25%;
	}
	
	.hero .wrapper {
	    width: 100%;
    }
	
	.navigation {
		display: none;
	}
	
	.navigation-mobile,
	.toggle-btn {
		display: block;
	}
}

@media only screen and (max-width: 400px) {
    input,
    button {
    	clear: both;
	    float: none;
	    width: 100%;
	    margin: 0 0 3px;
    }
    
    input {
    	padding-left: 4%;
	    width: 96%;
    }
    
    h2 {
	    font-size: 30px;
    }
    
    h3 {
	    font-size: 22px;
    }
    
    h4 {
	    font-size: 22px;
    }
}
*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    h1.logo {
	    background-image: url("../img/hum@2x.png");
    }
    
    a.appstore_btn {
		background-image: url("../img/apple_small@2x.png");
	}
	
	.footer .social a.twitter-btn {
		background-image: url("../img/twitter-btn@2x.png");
	}
}