/* Normalize */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,h1,h2,h3,h4,h5,h6{line-height:1em}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
	background: #f0eeed;
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #656565;
	text-align: center;
	min-width: 320px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a.appstore_btn {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #4da99d url("../img/apple_large.png") no-repeat 1em center;
	background-size: 34px;
	display: inline-block;
	position: relative;
	padding: 1em 1.5em .9em 4em;
	margin-top: -27px;
	z-index: 200;
	font-size: 16px;
	line-height: 15px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

a.appstore_btn:hover {
	text-decoration: none;
	background-color: #5cb8ac;
}

.btn {
	color: #fff;
	background: #000;
	display: inline-block;
	position: relative;
	padding: 1em 1.5em;
	margin-top: -27px;
	z-index: 200;
	font-size: 16px;
	line-height: 15px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.section {
	padding: 130px 0;
}

.hero {
	background: url("../img/hero_back.jpg") no-repeat center center;
	background-color: #323232;
	background-size: cover;
	border-top: 4px solid #4da99d;
	color: #e9e9e9;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.navigation ul {
	margin-bottom: 43px;
}

.navigation li {
	display: inline-block;
	margin: 0 1.5em;
}

.navigation a {
	color: #969696;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.navigation a:hover {
	color: #4da99d;
	border-bottom: solid 2px #4da99d;
}

.nav-collapse ul {
	margin-bottom: 43px;
}

.nav-collapse li {
	display: inline-block;
	margin: 0 1.5em;
}

.nav-collapse a {
	color: #969696;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}

.nav-collapse a:hover {
	color: #4da99d;
	border-bottom: solid 2px #4da99d;
}

.play-btn {
	display: inline-block;
	width: 47px;
	height: 0;
	padding-top: 47px;
	background: url("../img/play-btn.png") no-repeat;
	background-size: 94px;
	overflow: hidden;
	margin-bottom: -13px;
}

.play-btn:hover {
	background-position: -47px 0;
}

.wrapper {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.hero .wrapper {
	width: 90%;
	max-width: 818px;
}

.hero h2 {
	margin-bottom: 84px;
}

.name {
	float: left;
	text-align: center;
	margin-top: 118px;
	width: 400px;
}

.phones {
	display: block;
	height: 492px;
	position: relative;
	margin-bottom: 50px;
}

.middle {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -119px;
	z-index: 3;
}

.near-left {
	position: absolute;
	top: 10px;
	left: 13.852243%;
	z-index: 2;
	
	/*
-moz-transition: left .2s ease-in-out, opacity .2s ease-in-out;
	-webkit-transition: left .2s ease-in-out, opacity .2s ease-in-out;
*/
}

.near-right {
	position: absolute;
	top: 10px;
	right: 13.852243%;;
	z-index: 2;
/*
	-moz-transition: right .2s ease-in-out, opacity .2s ease-in-out;
	-webkit-transition: right .2s ease-in-out, opacity .2s ease-in-out;
*/
}

.far-right {
	position: absolute;
	top: 36px;
	right: 0;
	z-index: 1;
/*
	
	-moz-transition: right .2s ease-in-out;
	-webkit-transition: right .2s ease-in-out;
*/
}

.far-left {
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 1;
/*
	
	-moz-transition: left .2s ease-in-out;
	-webkit-transition: left .2s ease-in-out;
*/
}

.walkthrough {
	position: absolute;
	top: 72px;
	left: 19px;
}

h1.logo {
	margin: 0 auto 36px;
	width: 186px;
	height: 0;
	padding-top: 71px;
	overflow: hidden;
	background: url("../img/hum.png") no-repeat;
	background-size: 100%;
}

h2 {
    width: 90%;
	font-size: 36px;
	font-weight: 300;
	margin: 0 auto 70px;
	letter-spacing: -2px;
}

h3 {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.25em;
	margin: 0 auto 130px;
	width: 90%;
	max-width: 525px;
	letter-spacing: -1px;
}

.sort {
	background: #4da99d;
	color: #fefefe;
}

.features {
	color: #878787;
	font-weight: 300;
	overflow: hidden;
	padding-bottom: 0;
}

.features img {
	margin-bottom: .8em;
}

h4 {
	color: #656565;
	font-size: 24px;
	margin-bottom: 1em;
	letter-spacing: -1px;
}

.features img.notes {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: -2px;
}

.feature {
	width: 90%;
	max-width: 250px;
	margin: 0 auto 130px;
}

.footer {
	background: #323232;
	color: #e9e9e9;
	border-bottom: 4px solid #4da99d;
}

.footer .social {
	margin-bottom: 15px;
}

.footer .social li {
	display: inline-block;
	margin: 0 3px;
}

.footer .social a {
	display: block;
	width: 26px;
	height: 0;
	padding-top: 26px;
	overflow: hidden;
}

.footer .social a.twitter-btn {
	background: url("../img/twitter-btn.png") no-repeat;
	background-size: 100%;
}

.footer .social a.facebook-btn {
	background: url("../img/facebook-btn.png") no-repeat;
	background-size: 100%;
}

.footer .social a.twitter-btn:hover,
.footer .social a.facebook-btn:hover 
{
	background-position: 0 -26px;
}

.credit {
	font-size: 11px;
	line-height: 1.3em;
}

.illustration {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

.illustration.song {
	width: 320px;
}

.sorting a {
	display: block;
	float: left;
	height: 44px;
	line-height: 44px;
	background: #58b5a9;
	color: #fff;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, .15);
	border-right: 1px solid #429086;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin-bottom: 12px;
}

.sorting a:hover {
	text-decoration: none;
}

.sorting a.active,
.dropdowns a:active {
	background: #429086;
	height: 42px;
	line-height: 42px;
	margin-top: 1px;
	margin-bottom: 13px;
	border-right: 1px solid #377a71;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .15),
			          0px 1px 0px rgba(255, 255, 255, .09);
}

.type a, .sortby a {
	width: 150px;
}

.keys a {
	width: 50px;
	margin-bottom: 6px;
}

.keys a.sharp {
	letter-spacing: 1px;
}

.keys a.flat {
	letter-spacing: -5px;
}

.keys a.active {
	margin-bottom: 7px;
}

.keys a.active:nth-child(6),
.keys a.active:nth-child(12) {
	width: 50px;
}

.keys a:nth-child(1),
.keys a:nth-child(7),
.type a:nth-child(1),
.sortby a:nth-child(1) {
	clear: both;
	-webkit-border-top-left-radius: 3px;
 -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
     -moz-border-radius-bottomleft: 3px;
            border-top-left-radius: 3px;
         border-bottom-left-radius: 3px;
}

.keys a:nth-child(6),
.keys a:nth-child(12),
.type a:nth-child(2),
.sortby a:nth-child(2) {
	border-right: none;
	-webkit-border-top-right-radius: 3px;
 -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
     -moz-border-radius-bottomright: 3px;
            border-top-right-radius: 3px;
         border-bottom-right-radius: 3px;
}

.dropdowns a {
	padding-left: 7px;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 24px;
	border-right: none;
	background-image: url("../img/dropdown.png");
	background-repeat: no-repeat;
	background-position: 0 14px;
	background-size: 11px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.dropdowns a:nth-child(1) {
	width: 198px;
	margin-right: 3px;
	background-position: 177px 14px;
}

.dropdowns a:nth-child(2) {
	width: 98px;
	background-position: 77px 14px;
}

.dropdowns a:active {
	margin-top: 7px;
	background-image: url("../img/dropdown.png");
	background-size: 11px;
	background-repeat: no-repeat;
	border-right: transparent;
}

.dropdowns a:active:nth-child(1) {
	background-position: 177px 13px;
}

.dropdowns a:active:nth-child(2) {
	background-position: 77px 13px;
}

.icon {
	display: block;
	float: left;
	width: 17px;
	height: 17px;
}

.sad {
	background: url("../img/sad.png") no-repeat;
	background-size: 100%;
}

.happy {
	background: url("../img/happy.png") no-repeat;
	background-size: 100%;
}

.quiet {
	background: url("../img/quiet.png") no-repeat;
	background-size: 100%;
	clear: both;
}

.loud {
	background: url("../img/loud.png") no-repeat;
	background-size: 100%;
}

.slider {
	float: left;
	width: 246px;
    margin: 6px 10px 32px;
    background: #429086;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .15),
			          0px 1px 0px rgba(255, 255, 255, .09);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.noUi-target * {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
	        box-sizing: border-box;
    -webkit-touch-callout: none;
         -ms-touch-action: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
	cursor: default;
}


.noUi-base {
	width: 100%;
	height: 5px;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}

.noUi-handle {
	background: url("../img/slider.png") no-repeat;
	background-size: 100%;
	height: 34px;
	width: 32px;
	margin: -13px 0 0 -14px;
}

.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	border-radius: inherit;
}

.noUi-origin-upper {
	background: inherit !important;
}

.noUi-z-index {
	z-index: 10;
}


.title {
	display: block;
	text-align: left;
	margin-bottom: 6px;
}

.sortby,
.filterby,
.type,
.keys,
.dropdowns,
.sliders {
	clear: both;
}

.lyrics {
	font-weight: 300;
	color: #929292;
	text-align: left;
	line-height: 1.5em;
	width: 304px;
	margin: 0 auto 1em;
}

.lyrics:focus {
	outline: none;
}

.play_btn {
	float: left;
	display: block;
	overflow: hidden;
	width: 74px;
	height: 0;
	padding-top: 75px;
	background: url("../img/play_btn.png") no-repeat;
	background-size: 400%;
}

.play_btn:active {
	background-position: -74px 0;
}

.play_btn.playing {
	background-position: -148px 0;
}

.play_btn.playing:active {
	background-position: -222px 0;
}

.waveform {
	float: left;
	width: 184px;
	height: 48px;
	position: relative;
	background: url("../img/waveform.png") no-repeat;
	background-size: 184px;
	margin-top: 14px;
}

.waveform-progress {
	overflow: visible;
	height: 48px;
	width: 0;
	background: url("../img/waveform_progress.png");
	background-size: 184px;
}

.jp-play-bar {
	position: relative;	
}

.jp-current-time {
	display: block;
	background: url("../img/progress.png") no-repeat;
	background-size: 100%;
	position: absolute;
	width: 38px;
	height: 85px;
	top: -24px;
	right: -19px;
	font-size: 12px;
	color: #2d2d2d;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
}

.jp-toggles {
	margin-top: 10px;
	width: 58px;
	height: 62px;
	float: right;
	display: block;
}

.jp-repeat,
.jp-repeat-off {
	display: block;
	overflow: hidden;
	width: 58px;
	height: 0;
	padding-top: 62px;
	background: url("../img/loop_btn.png") no-repeat;
	background-size: 200%;
}

.jp-repeat-off,
.jp-repeat:active {
	background-position: -58px 0;
}

.jp-repeat:focus,
.jp-repeat-off:focus {
	outline: none;
}

::selection {
	background: #b8b8b8;
    color: #000;
    text-shadow: none;
}

::-moz-selection {
	background: #b8b8b8;
    color: #000;
    text-shadow: none;
}

form {
	width: 80%;
	margin: 0 auto 60px;
	overflow: hidden;
	max-width: 450px;
}

input {
	font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: left;
	height: 55px;
	width: 67.3610295777828%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(246, 245, 245, 0.92);
	color: rgb(100, 100, 100);
	padding: 0 0 0 2%;
	font-size: 20px;
	border: none;
}

input:focus {
    background: #fff;
    outline: none;
}

input::-webkit-input-placeholder {
   color: rgb(163,163,163);
}

input:-moz-placeholder {
   color: rgb(163, 163, 163);
}

input::-moz-placeholder {
   color: rgb(163, 163, 163);
}

input.error {
	background: #ffede2;
	color: #ff5d00;
}

button {
    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	height: 55px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #4da99d;
	border: none;
	padding: 0;
	font-size: 12px;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	float: left;
	width: 28.662000451569202%;
	margin: 0 0 0 1.9291036351320838%;
}

button:hover, button:focus {
    background: #5cb8ac;
    text-decoration: none;
    outline: none;
    border: none;
}

button:active {
	padding: 0;
}

button::selection {
    background: #fff;
    text-shadow: none;
}

button::-moz-selection {
    background: #fff;
    text-shadow: none;
}

input::selection {
    background: rgb(117, 223, 229);
    color: #000;
    text-shadow: none;
}

input::-moz-selection {
    background: rgb(117, 223, 229);
    color: #000;
    text-shadow: none;
}

label {
	font-size: 12px;
	margin-top: 14px;
	display: inline-block;
	line-height: 16px;
	width: 60%;
}

label a {
	color: #4da99d;
}

.navigation-mobile {
	display: none;
	max-height: 0;
	-webkit-transition: max-height .2s ease-in-out;
	-moz-transition: max-height .2s ease-in-out;
}

.navigation-mobile.open {
	max-height: 117px;
}

.navigation-mobile a {
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	background: #4da99d;
	color: #fff;
	padding: .5em 1em;
	font-size: 14px;
	border-top: 1px solid rgba(0,0,0,.1);
}

.navigation-mobile a.first {
	border-top: none;
}

.toggle-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2000;
	display: none;
	width: 53px;
	height: 0;
	padding-top: 48px;
	background: url("../img/hamburger-btn.png") no-repeat;
	background-size: 100%;
	overflow: hidden;
}

@media only screen and (min-width: 1200px) {
	.features .wrapper {
		max-width: none;
		width: 1110px;
	}
	
	.feature.notes {
		margin-top: 56px;
	}
	
	.feature.sharing {
		margin-top: -4px;
	}

	.feature {
		float: left;
		margin: 0 60px 130px;
	}
}


@media only screen and (max-width: 800px) {
	.name {
		margin-top: 0;
		margin-bottom: 100px;
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 615px) {
	.far-left {
		left: 25%;
	}
	.far-right {
		right: 25%;
	}
	
	.near-left {
		left: 0;
	}
	
	.near-right {
		right: 0;
	}
    
    .section {
		padding: 90px 0;
	}
	
	.feature.sharing {
		margin-bottom: 0;
	}
	
	.hero h2 {
		margin-bottom: 54px;
	}
	
	.navigation li {
		margin: 0 .75em;
	}
	
	.play-btn {
		display: block;
		margin: 20px auto 0;
	}
}

@media only screen and (max-width: 460px) {
	.near-left {
		left: 25%;
	}
	.near-right {
		right: 25%;
	}
	
	.hero .wrapper {
	    width: 100%;
    }
	
	.navigation {
		display: none;
	}
	
	.navigation-mobile,
	.toggle-btn {
		display: block;
	}
}

@media only screen and (max-width: 400px) {
    input,
    button {
    	clear: both;
	    float: none;
	    width: 100%;
	    margin: 0 0 3px;
    }
    
    input {
    	padding-left: 4%;
	    width: 96%;
    }
    
    h2 {
	    font-size: 30px;
    }
    
    h3 {
	    font-size: 22px;
    }
    
    h4 {
	    font-size: 22px;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    h1.logo {
	    background-image: url("../img/hum@2x.png");
    }
    
    .play_btn {
		background-image: url("../img/play_btn@2x.png");
	}
	
    .jp-repeat,
	.jp-repeat-off {
		background-image: url("../img/loop_btn@2x.png");
	}
	
	a.appstore_btn {
		background-image: url("../img/apple_large@2x.png");
	}
	
	.footer a.appstore_btn {
		background-image: url("../img/apple_small@2x.png");
	}
	
	.dropdowns a {
		background-image: url("../img/dropdown@2x.png");
	}
	
	.dropdowns a:active {
		background-image: url("../img/dropdown@2x.png");
	}
	
	.waveform {
		background-image: url("../img/waveform@2x.png");
	}
	
	.waveform-progress {
		background-image: url("../img/waveform_progress@2x.png");
	}
	
	.sad {
		background-image: url("../img/sad@2x.png");
	}
	
	.happy {
		background-image: url("../img/happy@2x.png");
	}
	
	.quiet {
		background-image: url("../img/quiet@2x.png");
	}
	
	.loud {
		background-image: url("../img/loud@2x.png");
	}
	
	.noUi-handle {
		background-image: url("../img/slider@2x.png");
	}
	
	.jp-current-time {
		background-image: url("../img/progress@2x.png");
	}
	
	.hero {
		background-image: url("../img/hero_back@2x.jpg");
	}
	
	.toggle-btn {
		background-image: url("../img/hamburger-btn@2x.png");
	}
	
	.play-btn {
		background-image: url("../img/play-btn@2x.png");
	}
	
	.footer .social a.twitter-btn {
		background-image: url("../img/twitter-btn@2x.png");
	}

	.footer .social a.facebook-btn {
		background-image: url("../img/facebook-btn@2x.png");
	}
}